@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Exo', 'Grape Nuts', cursive, sans-serif;
  letter-spacing: 0.05rem;
}

@layer base {
  .mobile-link {
    @apply hover:bg-teal-400 hover:bg-opacity-20 duration-500 transition-colors rounded-full w-10 h-10 p-2 grid place-items-center;
    -webkit-tap-highlight-color: transparent;
  }
}
